<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Workshop</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header>
        FREE TRADING WEBINAR FOR LOSS RECOVERY
    </header>
    <div id="webinarModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>JOIN OUR FREE WEBINAR FOR MORE INFORMATION</h2>
            <p>Unlock new skills and knowledge. Don't miss out on this opportunity to learn!</p>
            <button onclick="window.location.href='/form'">Register Now</button>
        </div>
    </div>
    <main>
        
        <div class="container">
            <div class="logoH">
                <h1 class="title">TRADING <br>WORKSHOP</h1>
                <div class="logo-container">
                    <img src="/static/images/Wman-logo (1).jpg" alt="W Man Logo" class="logo">
                    <h1>W Man</h1>
                </div>
            </div>
            <ul class="p"  style="list-style-type:disc">
                <li>FREE Trading Course</li>
                <li>Loss Recovery Process</li>
                <li>Monthly tournaments and compounding sessions</li>
                <li>Personal Guidance</li>
                <li>Full Transparency</li>
               
            </ul>
            <div class="btn"><a onclick="window.location.href='/form'" class="telegram-btn" > Join Now!</a></div>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="countdown-container">
                <div id="countdown">
                    <div class="time-box">
                        <span id="days" class="time">00</span>
                        <span class="label">DAYS</span>
                    </div>
                    <div class="time-box">
                        <span id="hours" class="time">00</span>
                        <span class="label">HOURS</span>
                    </div>
                    <div class="time-box">
                        <span id="minutes" class="time">00</span>
                        <span class="label">MINUTES</span>
                    </div>
                    <div class="time-box">
                        <span id="seconds" class="time">00</span>
                        <span class="label">SECONDS</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
 
<script src="/static/script.js"></script>    
</body>
</html>